{
  "root": true,
  "extends": [
    "plugin:@shopify/typescript",
    "plugin:@shopify/jest",
    "plugin:@shopify/prettier"
  ],
  "rules": {
    "import/order": [0],
    "jest/valid-title": [0],
    "jest/lowercase-name": [0]
  },
  "overrides": [
    {
      "files": ["*.module.ts"],
      "rules": {
        "@typescript-eslint/no-extraneous-class": [0]
      }
    }
  ]
}
